<div class="post-main">
    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>
    
    <script src="https://utteranc.es/client.js"
            repo="Beyond-the-Word/Beyond-the-Word.github.io"
            issue-term="pathname"
            label="comments"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async>
    </script>
</div>